div {
    width: 400px;
    height: 300px;
    border: 5px solid red;
    background-color: #00FF00;
    border-radius: 20px;
    border-style: groove;
    background-image: url("puppy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}